.nav{
    display: flex;    
    background-color: #292929;    
    height: 50px;   ;
    align-items: center;
    padding-left: 10px;
    justify-content: flex-end;
    position: -webkit-sticky;    
    position: sticky;
    top: 0;
    z-index: 1;
}
.separateur{
    display: flex;    
    background-color: #292929;    
    height: 50px;   ;
    align-items: center;
    padding-left: 10px;
}
.navette{
    text-decoration: none;
    padding: 30px 30px;
}
.navette:hover{
    color: black;
    background-color: paleturquoise;    
}
.nav a:hover{color: #000;}
.navette:visited{
    color: white;
}
.navette:link{
    color: white;
}    
#image-couverture{
    border-radius: 1px solid;
    height: 500px;
    width: 100%;
}
h1{    
    position: absolute;  
    top: 20%;
    bottom: 50%;  
    left: 20%;
    right: 50%;
    border: 5px solid ;   
}
section{
    color: white;
    padding-left: 10px;
}
#image-profil{
    padding-top: 50px;    
    padding-right: 50px;
    padding-left: 15px;
    width: 400px;
}
.about{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}
p{
    padding-right: 50px;
    padding-top: 50px;
}
#cv{    
    border: blue;
    font-size: 20px;
    float: right;
    padding-top: 100px;    
}
.formation{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}
#logoesen{
    height: 80px;
    width: 150px;
    border: black solid 2px;
}
#logoisima{
    height: 80px;
    width: 150px;
    border: black solid 2px;
}
.projet{
    display: flex;
    justify-content: space-around;  
    padding-bottom: 50px;  
    padding-top: 30px;
}
h2{
    padding: 30px;    
}
.bordure{
    border-radius: 100px 30px/50px 40px;
    background-color: paleturquoise
}
.format{
    margin-top: 50px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.wrapping{
    display: flex;
    justify-content: space-around;    
    padding-top: 50px;
    padding-bottom: 50px;
}
.table{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer{   
    display: flex;   
    justify-items: center; 
    background-color: #292929;    
    height: 150px;    
    padding-left: 10px;      
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px;
}
.item1{
    grid-column: 1/2;
    color: paleturquoise;
    font-weight: bold;
    font-size: larger;
}
.item2{
    grid-column: 2/3;
}
.item3{
    grid-column: 3/4;
    color: paleturquoise;
    font-weight: bold;
    font-size: larger;
    float: right;
}
.adress{
    color: paleturquoise;
    font-weight: bold;
    font-size: larger;
}
i{
    color: paleturquoise;
    font-weight: bold;
    font-size: larger;
}
body{
    background-color: white;
}
 a button:hover{
    background-color: yellowgreen;
}