.nav{
    display: flex;    
    background-color: #292929;    
    height: 50px;   ;
    align-items: center;
    padding-left: 10px;
    justify-content: flex-end;
}
.separateur{
    display: flex;    
    background-color: #292929;    
    height: 50px;   ;
    align-items: center;
    padding-left: 10px;
}

a{
    outline: none;
    padding: 30px 30px;
}

a:link, a:hover, a:visited{
    outline: none;
    color: white;
}    
#image-couverture{
    border-radius: 1px solid;
    height: 500px;
    width: 100%;
}
h1{    
    position: absolute;  
    top: 20%;
    bottom: 50%;  
    left: 20%;
    right: 50%;
    border: 5px solid ;   
}
section{
    color: white;
    padding-left: 10px;
}
#image-profil{
    padding-top: 50px;    
    padding-right: 50px;
}
.about{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}
p{
    padding-right: 50px;
    padding-top: 50px;
}
button{    
    background-color: rgb(73, 180, 73);
    font-size: 20px;
    float: right;
    
}
.formation{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}
#logoesen{
    height: 50px;
    width: 100px;
    border: black solid 2px;
}
#logoisima{
    height: 50px;
    width: 100px;
    border: black solid 2px;
}
.projet{
    display: flex;
    justify-content: space-around;  
    padding-bottom: 50px;  
    padding-top: 30px;
}
h2{
    padding: 30px;    
}
.bordure{
    border-radius: 100px 30px/50px 40px;
    background-color:rgb(243, 191, 245);
}
.format{
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.wrapping{
    display: flex;
    justify-content: space-around;    
    padding-top: 50px;
    padding-bottom: 50px;
}
.table{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.footer{       
    background-color: #292929;    
    height: 150px;    
    padding-left: 10px;    
}
.icons{
    display: flex; 
    padding-top: 50px;
    justify-content: space-around;
}
.button-submit:hover{
    background-color: green;
}
.button-reset:hover{
    background-color: red;
}